.button {
  box-sizing: border-box;
  border-radius: 8px;
  border: 0;
  width: fit-content;
  padding: 8px 16px;
  background: #017efa;
  border-radius: 6px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 21px;

  color: #fff;
}
