$color1: #009aff;
$color2: #53abff;
$color3: #b8c0ff;
$color4: #efbafe;
$color5: #fff3ff;



.header {
    background: #1b2b65;
    border-radius: 8px;   
    grid-area: header;
    padding: 16px;

    display: flex;
    justify-content: space-between;

    h1 {
        font-family: 'Roboto';
        font-weight: 100;
        color: #fff;
        padding: 0;
        margin: 0 0 0 8px;
    }

    a {
        font-family: 'Roboto';
        font-weight: 100;
        color: #fff;
        padding: 0;
        margin: 0 0 0 8px;
        text-decoration: none;
    }
}