.input {
    position: relative;
    max-width: 100%;
}

.input__control {
    box-sizing: border-box;
    width: 100%;

    padding: 16px 40px 16px 24px;

    background: white;
    /* Gray 2 */

    outline: none;

    height: 100%;


    border: 1px solid grey;
    border-radius: 8px;


    font-style: normal;
    //font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */
    /* Gray 2 */

    color: grey;
}



.input__control::placeholder {
    color: grey;
}

.input__stateIcon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}



.input__control_invalid ~ .input__stateIcon {
    //content: url("src/assets/images/error.svg");
}

.input__control_success ~ .input__stateIcon {
    //content: url('src/assets/images/success.svg');
}

.input__control:focus {
    border-color: blue;
}

.input__control_invalid:focus {
    border-color: red;
}

.fitcontent {
    width: fit-content;
}


.warningLabel {
    color: red;
    display: inline;
}

.noWarningLabel {
    visibility: hidden;
}