.app-wrapper {
    background-color: rgb(223, 194, 194);
    display: grid;
    grid-template-areas: 
    "header header"
    "navbar content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    gap: 10px;
}

.app-wrapper-content {
    
}
