.app-wrapper {
    background-color: white(255, 255, 255);
    display: grid;
    grid-template-areas: 
    "header header"
    "navbar content";
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 10fr;
    gap: 10px;
}

.app-wrapper-content {
    
}
