$color1: #009aff;
$color2: #53abff;
$color3: #b8c0ff;
$color4: #f7d9ff;
$color5: #fff3ff;

.dialogsWrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs {
  padding: 12px;
  background-color: #081a51;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.messages {
  background: #F8F9FF;
  border-radius: 8px;
  padding: 12px;
  word-break: break-all;
}
